/* (1366x768) WXGA Display */
@media screen and (min-width: 1366px) and (max-width: 1920px) {}


/*Medium Desktop Device*/
@media screen and (min-width: 1200px) and (max-width: 1366px) {}


/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1199px) {}


/* Normal desktop :991px. */
@media (min-width: 768px) and (max-width: 991px) {}


/* small mobile :320px. */
@media (max-width: 767px) {
    .slicknav_menu {
        display: block;
    }

    .menu {
        display: none;
    }

    .signUp {
        display: none;
    }

    .slicknav_menu {
        display: block;
        position: fixed;
        top: 41px;
        width: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
        right: 50%;
    }

    .slicknav_menu {
        background: none;
    }

    .slicknav_menu ul {
        background-color: red;
    }

    .slicknav_nav {
        position: absolute;
        width: 100%;
        top: 65px;
        left: 0;
    }
}

/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {}


/* small mobile :320px. */
@media (min-width: 240px) and (max-width: 479px) {}