* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul li {
    list-style: none;
}

a {
    display: inline-block;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
span {
    margin: 0;
    padding: 0;
}

/* common css end */
/* header area satart */
/* slick nav area start  */
.slicknav_menu .slicknav_icon-bar {
    background-color: #2D97D9;

}

.slicknav_btn {
    background-color: transparent;
}

.slicknav_menu .slicknav_menutxt {
    display: none;
}

.slicknav_menu .slicknav_open .slicknav_icon-bar:nth-child(1) {
    transform: rotate(45deg) translate(1px, 7px);
    transition: 0.4s;
}

.slicknav_menu .slicknav_open .slicknav_icon-bar:nth-child(2) {
    opacity: 0;
}

.slicknav_menu .slicknav_open .slicknav_icon-bar:nth-child(3) {
    transform: rotate(-45deg) translateY(-6px);
    transition: 0.4s;
}

.slicknav_menu {
    display: none;
    background: none;
}

.slicknav_nav {
    line-height: 35px;
}

/* extra satart */
.slicknav_nav {
    position: absolute;
    width: 100%;
    top: 65px;
    left: 0;
    border-radius: 5px;
    text-align: center;
    background-color: #2D97D9;
}


.slicknav_nav a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.1px;
    color: #fff;
}

.slicknav_nav a:hover {
    background: #fff;
    color: #271E56;
}

/* slick nav area end */

header {
    height: 80px;
    background-color: #fff;
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
    line-height: 80px;
    z-index: 9999;
}

header .menu ul {
    display: flex;
    justify-content: end
}

header .menu ul li {
    padding-left: 42px;
}

.signUp {
    display: flex;
    justify-content: center;
}

.signUp a {
    color: #9A9EA7;
}

.signUp a i {
    font-size: 18px;
    padding: 7px;
    border-radius: 7px;
    background-color: #F5F6F7;
}

.signUp a span {
    margin-left: 9px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.1px;
}

.menu ul li a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.1px;
    color: #271E56;
    transition: 0.4s;

}

.menu ul li a:hover {
    color: #2D97D9;
}

.signUp a:hover {
    color: #2D97D9;
}

/* header area end */
/* banner area start  */
.banner_area {
    background: url(../images/banner3.png) no-repeat center;
    background-size: cover;
    padding-top: 149px;
    padding-bottom: 266px;
    position: relative;
    z-index: 1;
}

.banner_area::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
    backdrop-filter: blur(2.71828px);
}

.banner_text {
    text-align: center;
}


.banner_text h1::first-letter {
    color: #2D97D9;
}

.banner_text h1 span {
    color: #2D97D9;
}

.banner_text p span {
    color: #2D97D9;
}

.banner_text h1,
p {
    color: #fff;
    font-family: 'Inter';
    font-weight: 700;
}

.banner_text h1 {
    font-size: 64px;
    line-height: 74px;
    letter-spacing: -0.304762px;
    max-width: 717px;
    margin: 0 auto;
    padding-bottom: 26px;
}

.banner_text p {
    font-size: 20px;
    line-height: 27px;
    max-width: 529px;
    margin: 0 auto;

}

.banner_bottom {
    position: absolute;
    bottom: 0;
    left: 50%;
    right: 50%;
    width: 945px;
    height: 80px;
    transform: translate(-50%, -50%);
    background: #FFFFFF;
    box-shadow: 0px 3px 4px rgba(153, 155, 168, 0.15);
    border-radius: 8px;
}

/* banner area end */
.slider_area h1:nth-child(1) {
    margin-top: 100px;
}