* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul li {
    list-style: none;
}

a {
    display: inline-block;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
span {
    margin: 0;
    padding: 0;
}

/* common css end */
/* header area satart */
/* slick nav area start  */
.slicknav_menu .slicknav_icon-bar {
    background-color: #9A9EA7;
}

.slicknav_btn {
    background-color: transparent;
}

.slicknav_menu .slicknav_menutxt {
    display: none;
}

.slicknav_menu .slicknav_open .slicknav_icon-bar:nth-child(1) {
    transform: rotate(45deg) translate(1px, 7px);
    transition: 0.4s;
}

.slicknav_menu .slicknav_open .slicknav_icon-bar:nth-child(2) {
    opacity: 0;
}

.slicknav_menu .slicknav_open .slicknav_icon-bar:nth-child(3) {
    transform: rotate(-45deg) translateY(-6px);
    transition: 0.4s;
}

.slicknav_menu {
    display: none;
}

/* slick nav area end */
header {
    height: 80px;
    background-color: #fff;
    /* display: flex; */
    /* align-items: center; */
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
}

nav {
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    line-height: 80px;
}

/* header {
    height: 80px;
    background-color: blue;
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
    line-height: 80px;
} */

header .menu ul {
    display: flex;
    justify-content: end
}

header .menu ul li {
    padding-left: 42px;
}

.signUp {
    display: flex;
    justify-content: center;
}

.signUp a {
    color: #9A9EA7;
}

.signUp a i {
    font-size: 18px;
    padding: 7px;
    border-radius: 7px;
    background-color: #F5F6F7;
}

.menu ul li a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    letter-spacing: -0.1px;
    color: #0D0A19;

}

/* header area end */